[submodule "zephyr"]
	path = zephyr
	url = https://github.com/open-degu/zephyr.git
[submodule "openthread"]
	path = openthread
	url = https://github.com/openthread/openthread.git
[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
